.propertyList {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;

    &Item {
        cursor: pointer;
        flex: 1;
        overflow: hidden;
    }

    &Image {
        border-radius: 10px;
        height: 150px;
        object-fit: cover;
        width: 100%;
    }

    &Titles {
        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 14px;
            font-weight: 200;
        }
    }
}