.propertySection {
    min-width: 1024px;
    max-width: 1024px;

    @media (max-width: 768px) {
        min-width: 100%;
        max-width: 100%;
    }
}

.propertyTitle {
    display: flex;
    font-size: 1.3em;

    @media (max-width: 768px) {
        margin-left: .5em;
    }
}

.propertyList {

    &Item {
        cursor: pointer;
        flex: 1;
        overflow: hidden;

        @media (max-width: 768px) {
            margin: 0 .5em;
        }
    }

    &Image {
        border-radius: 10px;
        height: 150px;
        object-fit: cover;
        width: 100%;
    }

    &Titles {
        h1 {
            font-size: 18px;
            text-transform: capitalize;
        }

        h2 {
            font-size: 14px;
            font-weight: 200;
            text-transform: capitalize;
        }
    }
}