.list {
    &Container {
        display: flex;
        justify-content: center;
        margin-top: 5em;

    }

    &Wrapper {
        width: 100%;
        max-width: 1024px;
        display: flex;
        gap: 20px;
        flex-direction: row;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &Search {
        flex: 1;
        background-color: #febb02;
        padding: 10px;
        border-radius: 10px;
        position: sticky;
        top: 10px;
        height: max-content;

        @media (max-width: 768px) {
            left: 5%;
            position: fixed;
            top: 2%;
            width: 85%;
            z-index: 2;
            display: none;

        }

        &.openWindow {
            display: block;
        }

        &Header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            svg {
                color: #555555;
                font-size: 2em;
                display: none;

                @media (max-width: 768px) {
                    display: block;
                }
            }
        }
    }

    &Title {
        font-size: 20px;
        color: #555555;
        margin-bottom: 10px;
    }

    &Item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;

        label {
            font-size: 12px;
        }

        >input {
            height: 30px;
            border: none;
            padding: 5px;
        }

        >span {
            height: 30px;
            padding: 5px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    &Option {
        &Item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            color: #555555;
            font-size: 12px;

            label {
                text-transform: capitalize;
            }
        }

        &Input {
            width: 50px;
        }
    }

    &Options {
        padding: 10px;
    }

    &Search {
        >button {
            padding: 10px;
            background-color: #0071c2;
            border-radius: 10px;
            color: #ffffff;
            border: none;
            width: 100%;
            cursor: pointer;
            height: max-content;
        }
    }

    &Result {
        flex: 3;

        @media (max-width: 768px) {
            flex: 1;
            padding: .5em;
        }
    }
}

.searchBackdrop {
    background: rgba(0, 0, 0, 0.5);
    height: 100dvh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.searchWindowButton {
    background-color: #0071c2;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    margin: 0.5em;

    @media (max-width: 768px) {
        display: block;
    }
}