.header {
    &Search {
        align-items: center;
        background-color: #ffffff;
        border: 3px solid #febb02;
        border-radius: 5px;
        display: flex;
        height: 30px;
        justify-content: space-around;
        min-width: 1024px;
        padding: 10px 0;

        color: #000000;

        &Item {
            align-items: center;
            display: flex;
            gap: 10px;
            position: relative;
        }

        &Input {
            border: 0;
            outline: none;
        }

        &Text {
            cursor: pointer;
            color: lightgray;
        }

    }

    &Button {
        background-color: #0071c2;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: 500;
        padding: 10px;
        border-radius: 5px;
    }
}

.dateWindow {
    position: absolute !important;
    top: 3em;
    z-index: 2;
    border: 3px solid #febb02 !important;
}

.optionsWindow {
    position: absolute;
    top: 2.5em;
    z-index: 2;

}

.options {
    background-color: #ffffff;
    border: 3px solid #febb02;
    border-radius: 5px;
    color: gray;
    // position: relative;
    // bottom: -6em;
    // z-index: 2;


    .option {
        &Counter {
            align-items: center;
            display: flex;
            color: #000000;
            font-size: 12px;
            gap: 10px;

            &Button {
                background-color: #0071c2;
                border: 0;
                color: #ffffff;
                padding: .4em;
                // height: 30px;
                // width: 30px;

                // &:disabled {
                //     cursor: not-allowed;
                // }
            }
        }

        &Item {
            display: flex;
            justify-content: space-between;
            margin: 10px;
            width: 200px;
            flex-direction: column;

            .optionCounter {
                margin: 5px;
                font-size: 1em;
                display: flex;
                justify-content: space-around;

                select {
                    font-size: 1em;
                    padding: .2em;
                }

            }
        }

    }
}