.hotel {

    &Container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    &Wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 1024px;
        position: relative;
        width: 100%;


    }

    &ImageWrapper {
        width: 25%;
        height: 100px;
        overflow: hidden;
        margin-top: 2px;

        @media (max-width: 768px) {
            height: 60px;
        }

        &:not(:first-child) {
            img {
                margin: 2px;
            }
        }


    }


    &Image {
        width: 100%;
    }

    &Title {
        font-size: 24px;

        @media (max-width: 768px) {
            padding: 0 0 .8em 1em;
            line-height: 0;
        }
    }

    &SubTitle {
        font-size: 24px;
    }

    &Address {
        align-items: center;
        display: flex;
        font-size: 12px;
        gap: 10px;
    }

    &Distance {
        color: #0071c2;
        font-weight: 500;
    }

    &PriceHighlight {
        color: #008009;
        font-weight: 500;

        @media (max-width: 768px) {
            padding: 0 1em;
        }
    }

    &Images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &Details {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin-top: 20px;


        @media (max-width: 768px) {
            margin: 1em;
        }

        &Texts {
            flex: 3;
        }

        &Price {
            background-color: #ebf3ff;
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 20px;
            padding: 20px;

            >h1 {
                color: #555555;
                font-size: 18px;
            }

            >h2 {
                font-weight: 300;
            }

            >span {
                font-size: 14px;
            }

            >button {
                background-color: #0071c2;
                border: none;
                border-radius: 5px;
                color: #ffffff;
                cursor: pointer;
                font-weight: bold;
                padding: 10px 20px;
            }
        }
    }

    &Desc {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        p {
            margin: 0;
        }
    }
}

.bookNow {
    background-color: #0071c2;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.426);
    z-index: 999;
    display: flex;
    align-items: center;

    &Wrapper {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Image {
        width: 90%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: lightgray;
        cursor: pointer;
    }

    .arrow {
        margin: 20px;
        font-size: 50px;
        font-size: 30px;
        color: lightgray;
        cursor: pointer;
        position: absolute;

        &.right {
            right: 0;
        }

        &.left {
            left: 0;
        }
    }
}


.header {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: start;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}


.gallery {
    flex: 2;
}

.hotelMainImage {
    width: 100%;
    height: 450px;
    overflow: hidden;


    @media (max-width: 768px) {
        height: 250px;
    }

    img {
        width: 110%;
        height: auto;
    }
}

.hotelRightSection {
    flex: 1;
    flex-direction: column;
    margin: 0;
    display: flex;
    height: 100%;
}

.hotelFooter {
    display: flex;
    justify-content: flex-end;


    @media (max-width: 768px) {
        justify-content: center;
    }
}

.city {
    font-weight: bold;
    text-transform: capitalize;
}