.navbar {
    background-color: #febb02;
    display: flex;
    height: 50px;
    justify-content: center;

    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;


}

.navContainer {
    align-items: center;
    display: flex;
    color: #000000;
    max-width: 1024px;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 768px) {
        justify-content: center;
    }

}

.logo {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navButton {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #000000;
    color: #ffffff;
    margin-left: 20px;
    padding: 5px 10px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    cursor: pointer;

    @media (max-width: 768px) {
        display: none;
    }
}

.userWindow {
    background: #febb02;
    border: 1px solid #000000;
    position: absolute;
    right: 10%;
    top: 3.5%;
    z-index: 2;
    padding: .4em;

    span {
        cursor: pointer;
    }
}

.loginLinks {
    @media (max-width: 768px) {
        display: none;
    }
}