.footer {
    font-size: 12px;
    max-width: 1024px;
    width: 100%;

    &Lists {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        width: 100%;

        @media (max-width: 768px) {
            justify-content: center;
        }

    }

    &List {
        list-style: none;
        padding: 0;

        @media (max-width: 768px) {
            &:not(:first-child) {
                display: none;
            }
        }

        &Item {
            margin-bottom: 10px;

            a {
                color: #003580;
                cursor: pointer;
            }

        }
    }
}

.footetText {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}