.header {
    &Search {
        align-items: center;
        background-color: #ffffff;
        border: 3px solid #febb02;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px 0;

        color: #000000;

        @media (max-width: 768px) {
            background: none;
            border: 0;
            flex-direction: column;
            height: unset;
            margin: 0 .8em;
            padding: 0;
        }

        &Item {
            align-items: center;
            display: flex;
            flex: 1;
            gap: 10px;
            padding: 10px;
            position: relative;

            @media (max-width: 768px) {
                padding: 1em 0;
                width: 100%;

                svg {
                    color: #000000;
                    left: .9em;
                    position: absolute;
                }

                &:first-child {
                    justify-content: center;
                }
            }
        }

        &Input {
            border: 0;
            outline: none;

            @media (max-width: 768px) {
                background-color: #ffffff;
                border: 3px solid #febb02;
                border-radius: 5px;
                font-size: 1.4em;
                padding: 5px 5px 5px 35px;
                width: 100%;
            }
        }

        &Text {
            cursor: pointer;
            color: lightgray;

            @media (max-width: 768px) {
                background-color: #ffffff;
                border: 3px solid #febb02;
                border-radius: 5px;
                font-size: 1.4em;
                padding: 5px 5px 5px 35px;
                width: 100%;
            }
        }
    }

    &Button {
        background-color: #0071c2;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        font-weight: 500;
        padding: 10px;
        width: 100%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.headerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}


.dateWindow {
    border: 3px solid #febb02 !important;
    position: absolute !important;
    top: 6em;
    z-index: 2;
}

.optionsWindow {
    position: absolute;
    top: 4.5em;
    z-index: 2;

}

.options {
    background-color: #ffffff;
    border: 3px solid #febb02;
    border-radius: 5px;
    color: gray;


    .option {

        &Counter {
            align-items: center;
            display: flex;
            color: #000000;
            font-size: 12px;
            gap: 10px;

            &Button {
                background-color: #ffffff;
                border: 1px solid #0071c2;
                color: #0071c2;
                height: 30px;
                width: 30px;

                &:disabled {
                    cursor: not-allowed;
                }
            }
        }

        &Item {
            display: flex;
            justify-content: space-between;
            margin: 10px;
            width: 200px;
        }

    }
}


.trip {
    cursor: pointer;
    font-size: .9em;
    font-weight: bold;
    padding: .4em;

    &.active {
        background: #0071c2;
        border-radius: 5px;
        color: #ffffff;
    }
}