.featuredSection {
    min-width: 1024px;
    max-width: 1024px;

    @media (max-width: 768px) {
        min-width: 100%;
        max-width: 100%;
    }
}

.featuredTitle {
    display: flex;
    font-size: 1.3em;

    @media (max-width: 768px) {
        margin-left: .5em;
    }
}

.featuredProperties {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
    cursor: pointer;

    &Item {
        border: 1px solid #e3e3e3;
        border-radius: 10px;
        color: #000000;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 10px;

        @media (max-width: 768px) {
            margin: 0 .5em;
        }
    }

    &Image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 250px;
        object-fit: cover;
        width: 100%;
    }

    .featuredContent {
        display: flex;
        flex-direction: column;
        padding: 0 1em 1em 1em;

    }

    &Name {
        font-weight: bold;
    }

    &City {
        font-weight: 300;
        text-transform: capitalize;
    }

    &Price {
        font-weight: 500;
    }

    &Rating {
        button {
            background-color: #003580;
            border: none;
            color: #ffffff;
            font-weight: bold;
            margin-right: 10px;
            padding: 3px;
        }

        span {
            font-size: 14px;
        }
    }
}