.header {
    &Search {
        align-items: center;
        background-color: #ffffff;
        border: 3px solid #febb02;
        border-radius: 5px;
        color: #000000;
        display: flex;
        height: 30px;
        justify-content: space-around;
        padding: 10px 0;

        @media (max-width: 768px) {
            background: none;
            border: 0;
            flex-direction: column;
            height: unset;
            margin: 0 .8em;
            padding: 0;
        }


        &Item {
            align-items: center;
            display: flex;
            gap: 10px;
            position: relative;

            @media (max-width: 768px) {
                flex-direction: column;
                padding: 1em 0;
                width: 100%;

                svg {
                    color: #000000;
                    display: none;
                    left: .9em;
                    position: absolute;
                }
            }
        }

        &Input {
            border: 0;
            outline: none;

            @media (max-width: 768px) {
                background-color: #ffffff;
                border: 3px solid #febb02;
                border-radius: 5px;
                font-size: 1.4em;
                padding: 5px 5px 5px 35px;
                width: 87%;
            }
        }

        &Text {
            color: lightgray;
            cursor: pointer;

            @media (max-width: 768px) {
                background-color: #ffffff;
                border: 3px solid #febb02;
                border-radius: 5px;
                width: 100%;
                font-size: 1.4em;
                padding: 5px;
            }
        }

    }

    &Button {
        background-color: #0071c2;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        font-weight: 500;
        padding: 10px;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.dateWindow {
    border: 3px solid #febb02 !important;
    position: absolute !important;
    top: 3em;
    z-index: 2;
}

.optionsWindow {
    position: absolute;
    top: 2.5em;
    z-index: 2;

}

.options {
    background-color: #ffffff;
    border: 3px solid #febb02;
    border-radius: 5px;
    color: gray;

    .option {

        &Counter {
            align-items: center;
            display: flex;
            color: #000000;
            font-size: 12px;
            gap: 10px;

            &Button {
                background-color: #0071c2;
                border: 0;
                color: #ffffff;
                padding: .4em;
            }
        }

        &Item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10px;
            width: 200px;

            .optionCounter {
                display: flex;
                font-size: 1em;
                justify-content: space-around;
                margin: 5px;

                select {
                    font-size: 1em;
                    padding: .2em;
                }

            }
        }

    }
}